In [ ]:
"""
Created on Mon May  8 15:27:03 2023

@author: cdacstaff
"""
import mysql.connector

cnx = mysql.connector.connect(user='root', 
                              password='root123',
                              host='127.0.0.1',
                              database='mytrial')
cur = cnx.cursor()

In [ ]:
#Creating Table student

cur.execute("""CREATE TABLE student( 
            roll_no INT, 
            subid varchar(10), 
            marks INT);""")
cnx.commit()
cnx.close()

In [ ]:

records=[[1,'sub1',34],
         [2,'sub1',30],
         [3,'sub1',23],
         [1,'sub2',23],
        [2,'sub2',26],
        [3,'sub2',30],
        [1,'sub3',30],
        [2,'sub3',30],
        [3,'sub3',27],
    ]

In [ ]:
for rno, sub, marks in records:
    query = "insert into student values(" +\
                str(rno)+","+\
                repr(sub) + ","+\
                str(marks)+");"
    print(query)
    cur.execute(query)

cnx.commit()
cnx.close()

In [ ]:
cnx = mysql.connector.connect(user='root', 
                              password='root123',
                              host='127.0.0.1',
                              database='mytrial')
cur = cnx.cursor()
cur.execute("select * from student")

for row in cur:
    print(row)


cnx.close()